<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "images.png" %>
	</div>

	<div  class="content">
		<h1>Profile Pic</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At illum optio recusandae quos, nam veniam magnam esse, aperiam accusamus harum aspernatur impedit dolores provident cum unde quae delectus totam quibusdam.</p>
	</div>
</div>